
.dialog {

  @apply mx-auto flex flex-col;

  width: min(100% - 2rem, 400px);
  height: min(100% - 4rem, 800px);

  &__content {

    @apply w-full flex-1 bg-secondary
           flex flex-col overflow-y-auto;


  }

}
